<% comment = conversation_entry.activity %>

<div id="<%= dom_id conversation_entry %>"  class="bg-gray-100 p-6 rounded-lg">
  <p>
    <%= comment.text %>
  </p>

  <div class="text-xs text-gray-500 mt-8">
    <%= l(comment.created_at, format: :short) %>
  </div>
</div>
