<% status_change = conversation_entry.activity %>

<div id="<%= dom_id conversation_entry %>" class="bg-gray-700 text-white px-6 py-4 rounded-xl">
  <p>
    <%= status_change.from.titleize %> → <%= status_change.to.titleize %>
  </p>

  <div class="text-xs text-gray-500 mt-4">
    <%= l(status_change.created_at, format: :short) %>
  </div>
</div>
