<div id="<%= dom_id comment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Project:</strong>
    <%= comment.project&.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Comment:</strong>
    <%= comment.text %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this comment", comment, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
