<% project = @project %>

<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div id="<%= dom_id project %>" class="mb-10">
      <h1 class="text-4xl mb-2"><%= project.name %></h1>
      <h1 class="text-xl text-gray-600 mb-6"><%= project.status&.titleize %></h1>

      <div class="flex justify-between items-center">
        <h5 class="font-bold mb-2">Conversation history</h5>
      </div>

      <% conversation_entries = Projects::Loaders::ConversationEntriesLoader.new.call(project: project) %>

      <div id="conversation_entries" class="min-w-full space-y-4">
        <% conversation_entries.each do |conversation_entry| %>
          <%= render "conversation_entries/activities/#{conversation_entry.activity_type.underscore}",
                  conversation_entry: conversation_entry %>
        <% end %>
      </div>
    </div>

    <hr>

    <%= link_to 'Edit this project', edit_project_path(@project), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this project', project_path(@project), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to projects', projects_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
