<!DOCTYPE html>
<html>
  <head>
    <title>HomeyProjectConversationHistory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="container mx-auto mt-6 flex">
      <%= link_to "Projects", root_path, class: "px-6 py-2" %>
      <%= link_to "Comments", comments_path, class: "px-6 py-2" %>
    </nav>

    <main class="container mx-auto mt-16 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
